* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.wrapper {
  width: 375px;
  height: 667px;
  background-color: rgba(243,228,225,1);
  position: relative;
  min-width: 375px;
  max-height: 667px;
}




